<div class="company-contacts  text--center">
	<div class="__inner">
		<div class="row row--xs-between">
			<!-- start item -->
			<div class="col col--lg-4 col--xl-3">
				<div class="__item">
					<p>Mail:<br>Fabriksstraße 44<br>Weigelsdorf<br>2483<br>Österreich</p>
				</div>
			</div>
			<!-- end item -->

			<!-- start item -->
			<div class="col col--sm-6 col--lg-4 col--xl-3">
				<div class="__item">
					<p>Phone:<br><a href="tel:+16176511074">+1 (617) 651 1074</a></p>
				</div>
			</div>
			<!-- end item -->

			<!-- start item -->
			<div class="col col--sm-6 col--lg-4 col--xl-3">
				<div class="__item">
					<p>Email:<br><a href="mailto:koray@koska.at">koray@koska.at</a></p>
				</div>
			</div>
			<!-- end item -->
		</div>
	</div>
</div>
