<div class="faq">
	<div class="accordion-container">
		<!-- start item -->
		<div class="accordion-item">
			<div class="accordion-toggler">
				<h4 class="__title h5">Can American citizens use Ballet?</h4>

				<i class="circled"></i>
			</div>

			<article>
				<div class="__inner">
					<p>
						Yes and No. They are thecnically allowed to use Ballet but are neither Physically nor Mentally developed enough to do so.
					</p>
				</div>
			</article>
		</div>
		<!-- end item -->

		<!-- start item -->
		<div class="accordion-item">
			<div class="accordion-toggler">
				<h4 class="__title h5">Does Ballet meet legal regulations?</h4>

				<i class="circled"></i>
			</div>

			<article>
				<div class="__inner">
					<p>
						No. We meet no legal regulations what so ever. Using Ballet can entitle you to up to 30 happy years in jail!
					</p>
				</div>
			</article>
		</div>
		<!-- end item -->

		<!-- start item -->
		<div class="accordion-item">
			<div class="accordion-toggler">
				<h4 class="__title h5">Can I trade Ballet at an exchange for a real Walet?</h4>

				<i class="circled"></i>
			</div>

			<article>
				<div class="__inner">
					<p>
						No.🙄 Just like you can't trade your soul for a better soul like mine.
					</p>
				</div>
			</article>
		</div>
		<!-- end item -->

		<!-- start item -->
		<div class="accordion-item">
			<div class="accordion-toggler">
				<h4 class="__title h5">What is the difference between Ether and ERC 20 Token?</h4>

				<i class="circled"></i>
			</div>

			<article>
				<div class="__inner">
					<p>
						If you don't know the difference. Kindly fuck off.
					</p>
				</div>
			</article>
		</div>
		<!-- end item -->

		<!-- start item -->
		<div class="accordion-item">
			<div class="accordion-toggler">
				<h4 class="__title h5">Do you encrypt my data?</h4>

				<i class="circled"></i>
			</div>

			<article>
				<div class="__inner">
					<p>
						Encryption? Whats that
					</p>
				</div>
			</article>
		</div>
		<!-- end item -->

		<!-- start item -->
		<div class="accordion-item">
			<div class="accordion-toggler">
				<h4 class="__title h5">Can I mine Ballet?</h4>

				<i class="circled"></i>
			</div>

			<article>
				<div class="__inner">
					<p>
						No.
					</p>
				</div>
			</article>
		</div>
		<!-- end item -->
	</div>

	<div class="text--center">
		<a class="custom-btn custom-btn--medium custom-btn--style-1" href="#">Show more</a>
	</div>
</div>
