<div class="faq">
	<div class="accordion-container">
		<!-- start item -->
		<div class="accordion-item">
			<div class="accordion-toggler">
				<h4 class="__title h5">Can I send/receive ERC20 token xyz with Ballet?</h4>

				<i class="circled"></i>
			</div>

			<article>
				<div class="__inner">
					<p>
						Yes, all ERC20 tokens are compatible with Ballet.
					</p>
				</div>
			</article>
		</div>
		<!-- end item -->

		<!-- start item -->
		<div class="accordion-item">
			<div class="accordion-toggler">
				<h4 class="__title h5">* Can I switch to another Ethereum compatible network?</h4>

				<i class="circled"></i>
			</div>

			<article>
				<div class="__inner">
					<p>
						All Ethereum networks are compatible as long as you have at least one running node. (EIP155 is assumed to be implemented in the network)
					</p>
				</div>
			</article>
		</div>
		<!-- end item -->

		<!-- start item -->
		<div class="accordion-item">
			<div class="accordion-toggler">
				<h4 class="__title h5">Can I have multiple wallets?</h4>

				<i class="circled"></i>
			</div>

			<article>
				<div class="__inner">
					<p>
						Yes, you can create as many wallets as you wish and organize your assets accordingly.
					</p>
				</div>
			</article>
		</div>
		<!-- end item -->

		<!-- start item -->
		<div class="accordion-item">
			<div class="accordion-toggler">
				<h4 class="__title h5">Are my private keys stored in the cloud?</h4>

				<i class="circled"></i>
			</div>

			<article>
				<div class="__inner">
					<p>
						No, all private keys are stored only on your device. You are the only person with access to your private keys.
					</p>
				</div>
			</article>
		</div>
		<!-- end item -->

		<!-- start item -->
		<div class="accordion-item">
			<div class="accordion-toggler">
				<h4 class="__title h5">Are my private keys encrypted?</h4>

				<i class="circled"></i>
			</div>

			<article>
				<div class="__inner">
					<p>
						 All your private keys are encrypted with a password you choose. Encryption is mandatory, but you can change your password at any time.
					</p>
				</div>
			</article>
		</div>
		<!-- end item -->
		<div class="accordion-item">
			<div class="accordion-toggler">
				<h4 class="__title h5">How are my private keys encrypted?</h4>

				<i class="circled"></i>
			</div>

			<article>
				<div class="__inner">
					<p>
						We are using the keystore specification from the Ethereum core developers to encrypt all your private key files individually. Behind the scenes the encryption algorithm AES is used, which was battle tested throughout decades and doesn't have any known vulnerabilities. The key for the encryption will be extracted from your password with a strong key derivation function named scrypt.
					</p>
				</div>
			</article>
		</div>


		<!-- start item -->
		<div class="accordion-item">
			<div class="accordion-toggler">
				<h4 class="__title h5"> How do I know you are not a scammer?</h4>

				<i class="circled"></i>
			</div>

			<article>
				<div class="__inner">
					<p>
						All our repositories are open sourced on Github (Check out our Github page). We will not make any profits with those apps. All our implementations can be audited at any time by anyone.
					</p>
				</div>
			</article>
		</div>
		<!-- end item -->

	<!--
	<div class="text--center">
		<a class="custom-btn custom-btn--medium custom-btn--style-1" href="#">Show more</a>
	</div>-->
</div>
