<footer id="footer" class="text--center text--lg-left">
	<div class="grid grid--container">
		<div class="row">
			<div class="col col--xs-12">
				<div class="__item">
					<!--
					<a class="site-logo" href="index.html">
						<img class="img-responsive lazy" width="175" height="42" src="img/blank.gif" data-src="img/site_logo.png" alt="demo" />
					</a>
					-->
				</div>
			</div>
		</div>

		<div class="row row--xs-middle">
			<div class="col col--sm-10 col--md-8 col--lg-5">
				<div class="__item">
					<address class="__text">
            Fabriksstraße 44, 2483 Weigelsdorf, Österreich<br>
						<a href="tel:+1(617)6511074">+1 (617) 651 1074</a> <br>
						<a href="mailto:koray@koska.at">koray@koska.at</a>
					</address>

					<div class="social-btns">
						<a class="fontello-twitter" href="https://twitter.com/boilertalk"></a>
						<a href="https://github.com/boilertalk"><i class="fab fa-github"></i></a>
						<a href="https://medium.com/boilertalk"><i class="fab fa-medium"></i></a>
					</div>
				</div>
			</div>

			<div class="col col--sm-10 col--md-8 col--lg-7">
				<div class="__item">
					<nav id="footer__navigation" class="navigation">
						<div class="row row--xs-middle">
							<div class="col col--xs-auto col--md-3 col--lg-4">
								<ul class="__menu">
									<li><a href="/">Home</a></li>
									<li><a href="team">Our Team</a></li>
									<li><a href="#faq">FAQ's</a></li>
									<li><a href="https://medium.com/boilertalk">Blog</a></li>
								</ul>
							</div>

							<div class="col col--xs-auto col--md-3 col--lg-4">
								<ul class="__menu">
									<li><a href="//beta.ballet.boilertalk.com">iOS Beta</a></li>
									<!-- <li><a href="#">Android Beta</a></li>
									<li><a href="#">FAQ’s</a></li>
									<li><a href="#">Support</a></li> -->
								</ul>
							</div>

							<div class="col hide--md col-MB-20"></div>

							<!-- <div class="col col--xs-auto col--md-auto col--lg-4">
								<ul class="__menu">
									<li><a href="#">Blog</a></li>
									<li><a href="#">Privacy policy</a></li>
									<li><a href="#">Terms & conditionss</a></li>
									<li><a href="#">Customer Service</a></li>
								</ul>
							</div> -->
						</div>
					</nav>
				</div>
			</div>
		</div>

		<div class="row row--xs-middle row--lg-between">
			<div class="col col--sm-10 col--md-8 col--lg-6">
				<div class="__item">
					<span class="__copy">© 2020, Koray Koska</span>
				</div>
			</div>

			<div class="col col--sm-10 col--md-8 col--lg-6  text--lg-right">
				<div class="__item">
					<span class="__copy"><a href="/pdf/legal/privacy.pdf">Privacy Policy</a> | <a href="/pdf/legal/terms.pdf">Terms of Service</a></span>
				</div>
			</div>
		</div>
	</div>
</footer>
