<!-- start header -->
<header id="top-bar" class="top-bar--light">
  <div id="top-bar__inner">
    <a id="top-bar__logo" class="site-logo" href="index.html">
      <img class="img-responsive" width="175" height="42" src="img/site_logo.png" alt="demo" />
      <img class="img-responsive" width="175" height="42" src="img/site_logo_2.png" alt="demo" />
    </a>

    <a id="top-bar__navigation-toggler" href="javascript:void(0);"><span></span></a>

    <div id="top-bar__navigation-wrap">
      <div>
        <nav id="top-bar__navigation" class="navigation text--center" role="navigation">
          <ul>
            <li>
              <a href="/"><span>Home</span></a>
            </li>

            <!-- <li>
              <a href="contacts.html"><span>Contact</span></a>
            </li> -->

            <li>
              <a href="team"><span>Our Team</span></a>
            </li>
          </ul>
        </nav>

        <br class="hide--lg">

        <ul id="top-bar__subnavigation">
          <li><a class="custom-btn custom-btn--small custom-btn--style-3" href="download.html">Download</a></li>
        </ul>
      </div>
    </div>
  </div>
</header>
<!-- end header -->
