<div class="team team--style-2 team--dark-color">
	<div class="__inner">
		<center>
			<div class="row">
				<div class="col--lg-2 col--md-1" ></div>
				<!-- start item -->
				<div class="col col--xs-6 col--sm-4 col--md-3 col--lg-2">
					<div class="__item  text--center" data-aos="zoom-in" data-aos-offset="50" data-aos-duration="300" data-aos-delay="50">
						<figure class="__image  center-block circled">
							<img class="img-responsive circled lazy" src="https://avatars0.githubusercontent.com/u/11356621?s=460&v=4" data-src="https://avatars0.githubusercontent.com/u/11356621?s=460&v=4" width="110" height="110" alt="Koray Koska" />

							<div class="social-btns">
								<a class="fontello-github circled" href="https://github.com/ybrin" target="_blank">
									<i class="fa fa-github" aria-hidden="true"></i>
								</a>
							</div>
						</figure>

						<div class="__content">
							<h5 class="__title">Koray Koska</h5>
							<span class="__subtitle">iOS Developer</span>
						</div>
					</div>
				</div>
				<!-- end item -->

				<!-- start item -->
				<div class="col col--xs-6 col--sm-4 col--md-3 col--lg-2">
					<div class="__item  text--center" data-aos="zoom-in" data-aos-offset="50" data-aos-duration="300" data-aos-delay="100">
						<figure class="__image  center-block circled">
							<img class="img-responsive circled lazy" src="img/blank.gif" data-src="img/IMGP0225.JPG" width="110" height="110" alt="demo" />

							<div class="social-btns">
								<a class="fontello-github circled" href="https://github.com/zimonzk" target="_blank">
									<i class="fa fa-github" aria-hidden="true"></i>
								</a>
							</div>
						</figure>

						<div class="__content">
							<h5 class="__title">Simon Artner</h5>
							<span class="__subtitle">Android Developer</span>
						</div>
					</div>
				</div>
				<!-- end item -->

				<!-- start item -->
				<div class="col col--xs-6 col--sm-4 col--md-3 col--lg-2">
					<div class="__item  text--center" data-aos="zoom-in" data-aos-offset="50" data-aos-duration="300" data-aos-delay="150">
						<figure class="__image  center-block circled">
							<img class="img-responsive circled lazy" src="img/blank.gif" data-src="https://avatars2.githubusercontent.com/u/11367143?s=460&v=4" width="110" height="110" alt="demo" />

							<div class="social-btns">
								<a class="fontello-github circled" href="#" target="_blank">
									<i class="fa fa-github" aria-hidden="true"></i>
								</a>
							</div>
						</figure>

						<div class="__content">
							<h5 class="__title">Florian Winkler</h5>
							<span class="__subtitle">Web App Developer</span>
						</div>
					</div>
				</div>

				<div class="col col--xs-6 col--sm-4 col--md-3 col--lg-2">
					<div class="__item  text--center" data-aos="zoom-in" data-aos-offset="50" data-aos-duration="300" data-aos-delay="150">
						<figure class="__image  center-block circled">
							<img class="img-responsive circled lazy" style="background: rgb(231, 231, 231);" src="img/blank.gif" data-src="	https://avatars0.githubusercontent.com/u/28950334?s=200&v=4" width="110" height="110" alt="demo" />

							<div class="social-btns">
								<a class="fontello-github circled" href="https://github.com/boilertalk" target="_blank">
									<i class="fa fa-github" aria-hidden="true"></i>
								</a>
							</div>
						</figure>

						<div class="__content">
							<h5 class="__title">Koray Koska</h5>
							<span class="__subtitle">Our Company</span>
						</div>
					</div>
				</div>
				<!-- end item -->
				<div class="col--lg-2"></div>
		</div>
	</div>
</div>
