<div class="row">
	<div class="col col--md-2  hide show--md">
		<i class="testimonial-ico">“</i>
	</div>

	<div class="col col--md-10">
		<!-- start testimonial -->
		<div class="testimonial testimonial--slider" data-slick='{"autoplay": true, "arrows": false, "dots": true, "speed": 1000}'>
			<!-- start item -->
			<div class="__item">
				<div class="__text">
					<p>
						We scam all our costumerz using Ballet.
					</p>
				</div>

				<div class="__author">
					<h5 class="__author--name">Jeef Sobs</h5>
					<span class="__author--position">OEC Ipple Areland, Ltd.</span>
				</div>
			</div>
			<!-- end item -->

			<!-- start item -->
			<div class="__item">
				<div class="__text">
					<p>
						We are very proud to say that Ballet has enabled us to scam a lot of people as well as overprice our products with the click of a button.
					</p>
				</div>

				<div class="__author">
					<h5 class="__author--name">Gill Bates</h5>
					<span class="__author--position">ex-OEC Licrosoft, MLC</span>
				</div>
			</div>
			<!-- end item -->

			<!-- start item -->
			<div class="__item">
				<div class="__text">
					<p>
						We here at Imazon are product to say that we have managed to build our very own blockchain kette using the awsome Web3.swift library developed by Boilertalk, Ltd. for Ballet.
					</p>
				</div>

				<div class="__author">
					<h5 class="__author--name">Beff Jezos</h5>
					<span class="__author--position">OEC Imazon, Anc.</span>
				</div>
			</div>
			<!-- end item -->
		</div>
		<!-- end testimonial -->
	</div>
</div>
